<h3>Analysis Tools</h3>
<div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs" id="analysistabs">
        <li class="active"><a href="#analysis_freq" showtab="">Frequency Analysis</a></li>
        <li><a href="#analysis_common" showtab="">Common words</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="analysis_freq">
            <div class="row-fluid">
                <div class="span6">
                    <h4>English Letter Percentages</h4>
                    <div id="freq" style="width:400px;height:300px"></div>
                </div>
                <div class="span6">
                    <h4>Encrypted Text Letter Counts</h4>
                    <div id="textfreq" style="width:400px;height:300px"></div>
                </div>
            </div>
            <p></p>
        </div>
        <div class="tab-pane" id="analysis_common">
            <h4>List of most common words</h4>
            <div class="row-fluid">
                <div class="span6">
                    <h4>English common words</h4>
                    <pre>
the
be
to
of
and
a
in
that
have
I
it
for
not
on
with
he
as
you
do
at
this
but
his
by
from
they
we
say
her
she
or
an
will
my
one
all
would
there
their
what
</pre>
                </div>
                <div class="span6">
                    <h4>Encrypted Text common words</h4>
                    <pre id="commonwords">
                    </pre>
                </div>
            </div>
            <p></p>
        </div>
    </div>
</div>
