<h3>Analysis Tools</h3>
<tabset>
    <tab heading="Frequency Analysis">
        <div class="row-fluid">
            <div class="span6">
                <h4>English Letter Percentages</h4>
                <chartjs width="440" height="300" data="englishFreqChart.data" options="englishFreqChart.options" is-type="Bar"></chartjs>
            </div>
            <div class="span6">
                <h4>Encrypted Text Letter Counts</h4>
                <chartjs width="440" height="300" data="textFreqChart.data" options="textFreqChart.options" is-type="Bar"></chartjs>
            </div>
        </div>
    </tab>
    <tab heading="Common Words">
        <div class="row-fluid">
            <div class="span6">
                <h4>English common words</h4>
                <pre>
the
be
to
of
and
a
in
that
have
I
it
for
not
on
with
he
as
you
do
at
this
but
his
by
from
they
we
say
her
she
or
an
will
my
one
all
would
there
their
what
</pre>
            </div>
            <div class="span6">
                <h4>Encrypted Text common words</h4>
                <pre>
{{ textCommonWords }}
                </pre>
            </div>
        </div>
    </tab>
</tabset>
