<div class="container">

    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
        <h1>Cryptography Challenge</h1>
        <p></p>
        <p></p>
        <p>
            <a href="/level?level={{ user.next_level_key }}">Get started</a>
        </p>
    </div>

    <!-- Example row of columns -->
    <div class="row">
        <div class="span4">
            <h2>Life and Death</h2>
            <p>When you need to coordinate tactics between ships, aircraft, spies and ground troops spread across countries and behind enemy lines, secure communication can be the difference been life and death. We recreate the cryptography lessons learned when things went horribly wrong or spectacularly right throughout history especially during World Wars I and II.</p>
        </div>
        <div class="span4">
            <h2>Hacking</h2>
            <p>Breaking encryption is just one type of hacking, but it's an essential part of the toolbox of any security expert or hacker, whether you're the one breaking in or the one keeping people out. Once you've learned a few tricks you'll be ready to challenge your friends to hack each other's encrypted messages.</p>
        </div>
        <div class="span4">
            <h2>Security</h2>
            <p>If hacking and international espionage aren't interesting to you, then at least you'll find this challenge useful. The internet is a vast set of computers networked together, anything that isn't encrypted could be read by anyone. Learn how your online banking and personal information is secured and how to make it easy or difficult for someone to break it open.</p>
        </div>
    </div>
</div> <!-- /container -->


