<div class="tabbable">
    <tabset>
        <tab heading="Encrypted Text" active="encryptedTextTab.active">
            <pre>{{ level.text.encrypted }}</pre>
        </tab>
        <tab heading="Decrypted Text" active="decryptedTextTab.active">
            <div id="success-alert" class="alert alert-success" ng:show="level.success">
                Congratuations! This text is fully decrypted.
                <a id="next" href="/#/level/{{ level.next_level }}">Continue</a>
            </div>
            <pre>{{level.text.cleartext}}</pre>
        </tab>
    </tabset>
</div>
