<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Learn Crytography</title>
        <!--
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
        -->
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/2.2.2/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link rel="StyleSheet" href="/static/styles.css" type="text/css" media="screen" /> 
    </head>
    <body>
        <div id="wrap">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container-fluid">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <a class="brand" href="/">Learn Cryptography</a>
                        <div class="nav-collapse collapse">
                            <ul class="nav">
                                <li class="active"><a href="/">Home</a></li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div>
                </div>
            </div>
            <div id="headerrow">
                {% block content %}
                    <h1>Content goes here</h1>
                {% endblock %}
            </div><!--container-fluid-->
            <div id="push"></div>
        </div><!--wrap-->
        <div id="footer">
            <div class="container-fluid">
                <p class="muted credit"></p>
            </div>
        </div>
    </body>
</html>
