{% extends "base.html" %}
{% block content %}

<div class="container">

    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
        <h1>Reset ALL the things</h1>
        <p>You have (presumably) successfully reset the database. Congratulations.</p>
        <h3>Level list</h3>
        <p>{{ level_list }}</p>
    </div>

    <h3>Level details:</h3>
    <ul>
    {% for level in level_data %}
      <li>{{ level }}</li>
    {% endfor %}
  </ul>

</div> <!-- /container -->


{% endblock %}


