{% extends "base.html" %}
{% block content %}

<div class="container">

    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
        <h1>Reset ALL the things</h1>
        <p>You have (presumably) successfully reset the database. Congratulations.</p>
        <h3>Level list</h3>
        <p>{{ level_list }}</p>
        <h3>Levels deleted</h3>
        <ul>
            {% for level in levels %}
            <li>{{ level }}</li>
            {% endfor %}
        </ul>

        <h3>New levels</h3>
        <ul>
            {% for result in results %}
            <li>{{ result }} has key {{ results[result] }}</li >
            {% endfor %}
        </ul>

    </div>

</div> <!-- /container -->


{% endblock %}


