<div class="row-fluid">
    <div class="span3">
        <h2>Decryptors</h2>
        <p>Use these decrypting tools to decipher the text.</p>
            <select>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
        <br>
        <br>
    </div>
    <div class="span3">
        <h3>Alphabetical Rotation</h3>
        <form onsubmit="decrypt('#rotate_decryptor'); return false" id="rotate_decryptor">
            <input type="hidden" name="decryptor" value="rotate">
            <select name="rotate">
                {% for i in range(26) %}
                <option value="{{ i }}">{{ i }} ({{ i - 26}})</option>
                {% endfor %}
            </select><br>
            <input type="submit" value="Decrypt" class="btn">
        </form>            
    </div>
    <div class="span6">
        <h3>Alphabetical Rotation</h3>
        <form onsubmit="decrypt('#translation_decryptor'); return false" id="translation_decryptor">
            <input type="hidden" name="decryptor" value="translate">
            <table>
                <tr>
                    {% for i in alphabet %}
                        <td style="padding-left:5px">{{ i }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    {% for i in alphabet %}
                        <td>
                            <input type="text" name="{{i}}" value="" maxlength="1" style="width:0.8em;padding-right:3px;margin:0px -2px">
                        </td>
                    {% endfor %}
                </tr>
            </table>
            <input type="submit" value="Decrypt" class="btn">
        </form>            
    </div>
</div>
<script>
    pasteText = function(data) {
        var d = window.JSON.parse(data);
        $('#decrypted pre').text(d.text);
        $('#texttabs a[href="#decrypted"]').tab('show');
        if (d.win) {
            $('#success-alert').show();
        } else {
            $('#success-alert').hide();
        }
    };

    decrypt = function(form_id) {
        arr = $(form_id).serializeArray()
        params = {}
        for (var i = 0; i < arr.length; i++) {
            params[arr[i].name] = arr[i].value;
        }
        params['text'] = '{{ text.key.id() }}';
        var jqxhr = $.post(
            '/decrypt', params,
            pasteText
        ).error(function() { alert("error"); })
    }
</script>
