<p>
    <form onsubmit="decrypt(); return false" id="rotate_decryptor">
        <select name="rotate">
            {% for i in range(26) %}
            <option value="{{ i }}">{{ i }} ({{ i - 26}})</option>
            {% endfor %}
        </select>
        <input type="submit" value="Decrypt">
    </form>            
    <script>
        pasteText = function(data) {
            var d = window.JSON.parse(data);
            $('#decrypted pre').text(d.text);
            $('#texttabs a[href="#decrypted"]').tab('show');
            if (d.win) {
                $('#success-alert').show();
            } else {
                $('#success-alert').hide();
            }
        };

        decrypt = function() {
            var jqxhr = $.post(
                '/decrypt', 
                {"rotate":$("#rotate_decryptor select option:selected").val()},
                pasteText
            ).error(function() { alert("error"); })
        }
    </script>
</p>
