{% extends "base.html" %}
{% block content %}
<div class="row-fluid">
    <div class="span3">
        <div class="well">
            <h2>Caesar Cipher</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi luctus massa et sem rutrum quis vestibulum purus eleifend. Mauris sed enim ipsum. Nunc quis sodales leo. Cras faucibus lobortis posuere. Nullam ultricies, quam a luctus commodo, magna nibh rutrum sapien, ut posuere elit nibh venenatis leo. Pellentesque semper cursus eros, in lobortis nisi pharetra eu.</p>
        </div><!--/.well -->
    </div><!--/span-->
    <div class="span9">
        <div class="row-fluid">
            <div class="span12">
                <h2>Decryptors</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
        </div><!--/row-->
        <div class="row-fluid">
            <div class="span5">
                <h2>Analysis Tools</h2>
                <div id="analysis">
                    <!-- Analysis box goes here -->
                </div>
            </div>
            <div class="span7">
                <h2>Text</h2>
                <div id="texts">
                    <!-- Texts go here -->
                </div>
            </div>
        </div>
    </div><!--/span-->
</div><!--/row-->
{% endblock %}
