<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Learn Crytography</title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
        <link rel="stylesheet/less" href="/static/bootstrap/less/bootstrap.less">
        <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link rel="StyleSheet" href="/static/styles.css" type="text/css" media="screen" /> 
    </head>
    <body>
        <div id="wrap">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container-fluid">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <a class="brand" href="#">Learn Cryptography</a>
                        <div class="nav-collapse collapse">
                            <ul class="nav">
                                <li class="active"><a href="#">Home</a></li>
                                <li><a href="#about">About</a></li>
                                <li><a href="#contact">Contact</a></li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div>
                </div>
            </div>
            <div class="container-fluid" id="headerrow">
                <div class="row-fluid">
                    <div class="span3">
                        <div class="well">
                            <h2>Caesar Cipher</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi luctus massa et sem rutrum quis vestibulum purus eleifend. Mauris sed enim ipsum. Nunc quis sodales leo. Cras faucibus lobortis posuere. Nullam ultricies, quam a luctus commodo, magna nibh rutrum sapien, ut posuere elit nibh venenatis leo. Pellentesque semper cursus eros, in lobortis nisi pharetra eu.</p>
                        </div><!--/.well -->
                    </div><!--/span-->
                    <div class="span9">
                        <div class="row-fluid">
                            <div class="span12">
                                <h2>Decryptors</h2>
                                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                                <p><a class="btn" href="#">View details &raquo;</a></p>
                            </div><!--/span-->
                        </div><!--/row-->
                        <div class="row-fluid">
                            <div class="span5">
                                <h2>Analysis Tools</h2>
                                <div id="analysis">
                                    <!-- Analysis box goes here -->
                                </div>
                            </div>
                            <div class="span7">
                                <h2>Text</h2>
                                <div id="texts">
                                    <!-- Texts go here -->
                                </div>
                            </div>
                        </div>
                    </div><!--/span-->
                </div><!--/row-->
            </div><!--container-fluid-->
            <div id="push"></div>
        </div><!--wrap-->
        <div id="footer">
            <div class="container-fluid">
                <p class="muted credit">Example courtesy <a href="http://martinbean.co.uk">Martin Bean</a> and <a href="http://ryanfait.com/sticky-footer/">Ryan Fait</a>.</p>
            </div>
        </div>

        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="static/bootstrap/js/bootstrap.min.js"></script>
        <script>
            /* Load analysis box contents */
            $('#analysis').load('/analysis')

            /* Load texts */
            $('#texts').load('/texts')
        </script>
    </body>
</html>
