{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <h2>Challenge: {{ level.name }}</h2>
    <div class="row-fluid">
        <div class="span5">
            <div id="texts">
                {% include 'texts.html' %}
                <!-- Texts go here -->
            </div>
        </div>
        <div class="span7">
            <div id="decryptors">
                <!-- Decryptors go here -->
                {% include 'decryptors.html' %}
            </div>
            <div id="analysis">
                <!-- Analysis box goes here -->
                {% include 'analysis.html' %}
            </div>
        </div><!--/span-->
    </div><!--/row-->
</div><!--/container-fluid-->
{% endblock %}
