<div class="tabbable">
    <ul class="nav nav-tabs" id="texttabs">
        <li class="active"><a href="#encrypted" data-toggle="tab">Encrypted Text</a></li>
        <li><a href="#decrypted" data-toggle="tab">Decrypted Text</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="encrypted">
            <pre>{{ text.encrypted }}</pre>
        </div>
        <div class="tab-pane" id="decrypted">
            <div id="success-alert" class="alert alert-success">Congratuations! This text is fully decrypted.</div>
            <pre>{{ cleartext }}</pre>
        </div>
    </div>
</div>
<script>
    $('#texttabs a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    });
    $('#success-alert').hide();
    create_text_graph();
</script>
